<script type="text/javascript">
    window.GeeryDev = {
        blogId: "<%- blogId %>"
    };
</script>

<div id="geerydev-side-panel" class="right col-sm-3 hide-small absolute top250">

</div>

<div class="single-question col-xs-12 col-sm-9">
	<div class="col-sm-2 black-back center white blog-date double max-w-150">
		<%= dayString %>
		<br />
		<span class="search-smaller"><%= dateString %></span>
	</div>
	<h2 class="col-xs-12 col-sm-10 single-question-headline">
        <%- request %>
    </h2>
</div>
<div class="col-xs-12 col-sm-9 single black mt-20 bigger response">
    <%- response %>
</div>

<!-- Start comment section -->
<div id="geerydev-comments" class="col-xs-12 col-sm-9 double black point clearfix mt-40">

</div>

<div class="col-xs-12 col-sm-offset-1 col-sm-10 mt-40">
	<p class="double text-muted">Comments</p>
</div>

<div id="geerydev-comment-list">
    <!-- Comment List Container -->
</div>
